@font-face {
    font-family: "BradleyHand-Bold";
    src: url(/assets/BradleyHand-Bold.woff) format("woff");
}
.container {
    width: 100vw;
    height: 100vh;
    font-family: "BradleyHand-Bold";
}
.text-wrapper {
    margin: 5rem;
}
.question {
    font-size: 2rem;
}
.answer {
    font-size: 4rem;
    margin-top: 3rem;
}
#input {
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}